# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# schema files
ideas.md
medications_schema_update_schedule_stock.sql
medications_schema.sql
medications_seed.sql
appointments_schema.sql
appointments_seed.sql
schemainfo.sql
appointments_schema_update_add_appointment_date.sql
patient_profiles_schema_update_active_patient.sql
notes.md